:root{
   --duration1: 0.3s;
   --maincoler: rgb(24, 123, 151);
   --grid1: repeat(auto-fill, minmax(300px, 1fr));
   --section-padding: 100px;
   --background-shadow: rgba(24, 123, 151, 0.5);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {

  font-family: "Open Sans", sans-serif;

}

ul {
  list-style: none;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
  /* Start media */
  /* Small Devices (Large Phones) */
  @media (min-width: 576px) {
}

/* Tablets */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
  /* Laptops */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* Desktops*/
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }


}
/* Large Screens / 4K */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
/* End media */

/* Start Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* End Components */

/* Start Header */
  header{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 3;
  }

  header .container{
 display: flex;
 justify-content: space-between;
   align-items: center;
   position: relative;
   min-height: 97px;
  }
  header .container::after{
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
  }

    header .logo img{
  height: 40px;  
  }

header nav{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  
}

header nav .toggle-menu{
color: white;
font-size: 22px;

}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}

header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }

  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  header nav ul li a {
    padding: 15px !important;
  }

}
    header .container nav li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 40px 10px;
    font-size: 14px;
    transition: var(--duration1);
    position: relative;
    z-index: 2;
    }

    header .container nav li a.active,
    header .container nav li a:hover{
      color: var(--maincoler);
      border-bottom: solid var(--maincoler) 1px;
    }

     header .container nav .form {
  width: 40px;
  height: 30px;
  border-left: 1px solid white;
  position: relative;
  margin-left: 30px;
     }
     @media (max-width: 767px) {
  header .container nav .form {
      border-left: transparent;
      margin: 0;
     }
  }
    header .container nav .form i{
    position: absolute;
    color: white;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

/* End Header */


/* Start Landing */
.landing{
  background-color: #1f2021;
 background-image: url("../image/landing.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}
.landing .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.landing .block-text{
position: absolute;
width: 50%;
top: 50%;
left: 0;
transform: translateY(-50%);
background-color: var(--maincoler);
color: white;
padding: 50px;
display: flex;
justify-content: flex-end;
}

.landing .block-text .content{
  max-width: 500px;
}
.landing .block-text .content h2{
  line-height: 1.5;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 20px;
}
.landing .block-text .content p{
  font-size: 14px;
  line-height: 2;
}

 @media (max-width: 767px) {
.landing .block-text{
width: 100%;
}
.landing .block-text .content{
max-width: 100%
}
  }
 .landing .change-background{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
 }
  .landing .fa-angle-left{ 
    left: 2%;
  }
    .landing .fa-angle-right{ 
    right: 2%;
  }
  
  @media (max-width: 767px) {
    .landing .change-background{
      display: none;
    }
  }
  .landing .bullets{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  }
  .landing .bullets li{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid white 1px;
  }

  .landing .bullets li.active,
 .landing .bullets li:hover{
   background-color: var(--maincoler);
   border: solid var(--maincoler) 1px;
  }
/* End Landing */

/* Start Service */
.service{
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}


.service .menu-service{
display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    padding: 0 50px;
}
.service .menu-service .type {
  display: flex;
  gap: 20px;
}

@media (max-width: 992px) {
.service .menu-service{

    grid-template-columns: var(--grid1);
}
}

  @media (max-width: 767px) {
.service .menu-service .type {
  align-items: center;
  flex-direction: column;
  text-align: center;
}

}
.service .menu-service i{
  margin-top: 3px;
  padding: 2px;
  font-size: 30px;
}

.service .menu-service .text {
  display: flex;
  flex-direction: column;
}


.service .menu-service h3 {
  color: var(--maincoler);
}

.service .menu-service p {
  margin: 0;
  line-height: 1.6;
}
/* End Service */

/* Start-design */
.design-background{
   background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.design{
    background-color: #1f2021;
 background-image: url(../image/design-features.jpg);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.design::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 50%);
}


.design .mobile {
background-image: url(../image/mobile.png);
    background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
    position: absolute;
  left: 8%;
  bottom: -65px;
  width: 38%;
  height: 75%;
}


.design .design-block{
      position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: var(--background-shadow);
    color: white;
    padding: 50px;
    width: 50%;
    
}

@media (max-width: 950px) {
.design .mobile {
  display: none;
}
.design .design-block{
    width: 100%;
}
}


.design .design-block{
  display: flex;
  gap: 20px;
  padding: 50px;
}


.design .design-block h2{
  line-height: 2;
  font-weight: normal;
text-transform: uppercase;
}
.design .design-block ul li{
  padding: 15px 0;
}

.design .design-block ul li::before{
  font-family: "Font Awesome 5 Free";
  content: "\f390";
  position: relative;
  top: 1px;
  font-weight: 900;
  margin-right: 20px;
}
/* End-design */

    /* Start Portfolio */
    .portfolio {
      padding: var(--section-padding) 0;
      background-color: #f8f9fa;
    }


    .portfolio ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 0;
      list-style: none;
      flex-wrap: wrap;
      gap: 10px;
    }

    .portfolio ul li {
      padding: 12px 25px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
      font-weight: 500;
      background-color: white;
      border: 2px solid transparent;
    }

    .portfolio ul li:hover {
      color: white;
      background-color: var(--maincoler);
      transform: translateY(-3px);
    }

    .portfolio ul li.active {
      color: white;
      background-color: var(--maincoler);
      border-color: var(--maincoler);
    }

    .portfolio-images {
      display: grid;
      grid-template-columns: var(--grid1);
      gap: 30px;
      margin-bottom: 40px;
    }

    .portfolio-images .box {
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      background-color: white;
    }

    .portfolio-images .box.hidden {
      display: none;
    }

    .portfolio-images .box:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    }

    .portfolio-images .box img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      display: block;
      
    }
    

    .more {
      text-align: center;
      margin-top: 40px;
    }

    .more button {
      padding: 15px 40px;
      background-color: var(--maincoler);
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 4px 10px rgba(33, 150, 243, 0.3);
    }

    .more button:hover {
      background-color: #1976d2;
      transform: translateY(-3px);
      box-shadow: 0 6px 15px rgba(33, 150, 243, 0.4);
    }

    .more button.hidden {
      display: none;
    }

    /* End Portfolio */


/* Start video  */
.video {
  position: relative;
}
.video video{
  width: 100%;
}
.video .text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: var(--background-shadow);
  color: white;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 50%;
  

}

.video .text h2{
  text-transform: uppercase;
  margin-bottom: 30px ;
}
.video .text p{
  margin-bottom: 30px ;
}

.video .text button{
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
}
/* End video  */

